<h1>Products</h1>
<form>
    <button type="submit" formaction="/products/new" formmethod="GET">Create</button>
</form>

<ul id="productList">
    {{#each products}}
    <li class="productLi"><a href="/products/{{id}}">
            <div class="productImg">productImgDiv</div>
            <ul>
                <li>Product Name: {{name}}</li>
                <li>Price: {{price}}</li>
                <li>Stock: {{inventory}}</li>
                <li>ID: {{id}}</li>
            </ul>
            <span>
                <form action="/products/{{id}}/edit">
                    <button type="submit">Edit</button>
                </form>
                <form action="/products/{{id}}?_method=DELETE">
                    <button type="submit">Delete</button>
                </form>
            </span>
        </a>
    </li>
    {{/each}}
</ul>