<h1>{{article.title}}</h1>
<h2>by {{article.author}}</h2>
<p>{{article.body}}</p>

<span>
    <form action="/articles/{{article.urlTitle}}/edit">
        <button type="submit">Edit</button>
    </form>
    <form action="/products/{{article.urlTitle}}?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
    <form action="/articles">
        <button type="submit" formmethod="GET">Article List</button>
    </form>
</span>

{{#if error}}
{{> errors}}
{{else}}
{{/if}}